@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bd-color: #D0D5DD;
    --text--color-h1: #101828;
    --text--color-h2: #667085;
    --text--color-laber: #344054;
    --main-color: #FFFFFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}